# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (if you create one later)
venv/
.env/
.venv/

# macOS files
.DS_Store

# VSCode settings
.vscode/

# General
*.log